@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-weight: bold;
  color: #e69f3e;
}

.formBottomChild .btnColor {
  background: #e69f3e;
  color: white;
}
.label1 {
  font-weight: 600;
  font-size: 18px;
}
.part-Payment {
  background: #eaeaea;
}
.box1 img {
  border-radius: 15px 0 0 15px;
}
section {
  width: 900px;
  border-radius: 15px;
  border: 1px solid rgb(213, 213, 213);
}
.Form-Register {
  width: 900px;
  border-radius: 15px;
  border: 1px solid rgb(213, 213, 213);
}

/* Tablet Login */
@media ((min-width: 768px) and (max-width: 1024px)) {
  .box1 img {
    width: 380px;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .signUpView {
    display: inline-flex;
  }
  img {
    display: none;
  }
  .signUpView {
    display: flex;
    margin: auto;
  }
  .box-form-signup {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
}
