/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap'); */
body {
  font-family: "Quicksand", sans-serif;
}
.bg-surya {
  background-color: #e99f3b;
}
.text-brown {
  color: #e99f3b !important ;
}

.kiri {
  padding-left: 40%;
}
.ml-100 {
  margin-left: 200px;
}
.courousel-100 {
  width: 400px;
  height: 100px;
}
.pt-text {
  padding-top: 100px;
}
.searching-100 {
  margin-left: 400px;
}
.fs-keranjang {
  font-size: 50px;
}
.card-produk {
  height: 350px;
  width: 237px;
}
.card-produk2 {
  height: 410px;
  width: 260px;
}
.pl-kereanjang {
  padding-left: 30px;
}
#myInput:focus {
  outline: none;
  border: 1px solid #ccc;
}

.listnone {
  list-style-type: none;
}

.garis {
  border-right: none;
  border-left: none;
  border-top: none;
}

.putih {
  color: white;
}
